@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';


.mapContainer{
    border-bottom: 2px solid $gray_color-4;
    padding: 3rem 0;
    margin: 3rem 0;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}