.formContainer{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    max-width: 500px;
    margin: 2rem auto 10rem;
}

.subText{
    font-size: .8rem;
    color: #666;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
}