@import '../../../styles/mixins.scss';

.loteamentosContainer{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
}
.heading{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.topActions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.dropdownMenu{
    @include dropDown();
}

.lotFilters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
    flex-wrap: wrap;
}
.dropdownsContainer{
    display: flex;
    gap: 10px;
}
.lotHandleActions{
    width: 30%;
    display: flex;
    gap: 10px;
    justify-content: center;
    min-width: 320px;
}
.btnTaxes{
@include actionButton($bg_white-color, $bg_dark-color);
}
.btnLot{
    @include actionButton($text-black, $green_color-2);
}

.listsContainer{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    .lotsList{
        transition: all .2s ease-in-out;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: calc(100vh - 36vh);
        overflow-y: scroll;
        &:not(:has(li:nth-of-type(3))){
            &::-webkit-scrollbar{
            display: none;
            background: transparent;
            }
        }
        &::-webkit-scrollbar{
            background: $gray_color-1;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb{
            background: darken($gray_color-1, 25%);
            border-radius: 5px;
        }
        .lotsListItem{
            position: relative;
            display: flex;
            background: $gray_color-6;
            flex-grow: 1;
            padding: 15px;
            gap: 20px;
            max-height: 150px;
            border-radius: 12px 0 0 12px;
            .lotImage{
                display: flex;
                img{
                    width: 200px;
                    height: 120px;
                    border-radius: 8px;
                    object-fit: cover;
                    flex-shrink: 0;
                    min-width: 100%;
                    min-height: 100%
                }
            }
            .lotInfos{
                display: flex;
                gap: 20px;
                align-items: flex-start;
                padding-top: 1rem;
            }
            .lotSpecs{
                display: flex;
                flex-direction: column;
                gap: 5px;
                .lotName{
                    color: $text-black;
                    font-size: 1.2rem;
                    font-weight: 600;
                }
                .divName{
                    font-size: 1rem;
                    font-weight: 300;
                }
                .location{
                    display: flex;
                    gap: 20px;
                    span{
                    display: flex;
                    align-items: flex-start;
                        font-weight: 300;
                        img{
                            margin-right: 3px;
                        }
                    }
                    sup{
                        vertical-align: top;
                        font-size: smaller;
                    }
                }
            }
            .lotPrice{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                p{
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: $text-black;
                }
                p:nth-of-type(2){
                    font-size: .9rem;
                    font-weight: 300;
                }
            }
        .lotOptionsBtn{
            transform: rotate(90deg);
            font-weight: 900;
            font-size: 1.2rem;
            position: absolute;
            top: 10px;
            right: 10px;
            &:hover{
                cursor: pointer;
            }
        }
        .lotViews{
            font-weight: 900;
            font-size: 1.2rem;
            position: absolute;
            bottom: 10px;
            right: 10px;
            display: flex;
            align-items: flex-start;
            gap: 5px;
            img{
                width: 20px;
            }
            span{
                font-weight: 300;
                font-size: 1rem;
                color: $gray_color-1;
            }
        }
        }
    }
    .divisionsListContainer{
        min-width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $bg_dark-color;
        border-radius: 8px;
        padding: 2rem 1rem 1rem 1rem;
        height: calc(100vh - 36vh);
        ul{
            min-width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 1rem;
            height: calc(100% - 90px);
            border-bottom: 1px solid $gray_color-1;
            overflow-y: scroll;
            &:not(:has(li:nth-of-type(4))){
                &::-webkit-scrollbar{
                display: none;
                background: transparent;
                }
            }
            &::-webkit-scrollbar{
                width: 8px;
                background: transparentize($gray_color-4, 0.8);
                border-radius: 5px;
            }
            &::-webkit-scrollbar-thumb{
                background: transparentize($green_color-4, 0.4);
                border-radius: 5px;
            }
        }
        h2{
            font-weight: 700;
            color:  $text-white;
            font-size: 1.6rem;
            width: 100%;
            text-align: start;
        }
        li{
            display: flex;  
            gap: 10px;
            align-items: center;
            color: $text-white;
            padding: 8px 10px;
            &:hover{
                background: transparentize($text-white, 0.8);
                cursor: pointer;
            }
            img{
                max-width: 60px;
                border-radius: 50%;
            }
            p{
                font-weight: 600;
            }
            span{
                font-weight: 300;
            }
        }
        .addDivisionBtn{
            margin-top: 10px;
            @include actionButton($green_color-2, $bg_dark-color);
        }
    }
}



