@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';

.soldsContainer{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.heading{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: .5rem;
}

.subHeading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        font-size: 1.2rem;
        font-weight: 500;
    }
    .headerBtns{
        display: flex;
        gap: .5rem;
        .changePeriod {
            @include actionButton($text-black, $bg_white-color);
            box-shadow: 0 0 8px 1px transparentize($bg_dark-color, .9);
            min-width: 100px;
            justify-content: flex-end
        }
        .generateReport{
            @include actionButton($text-black, $green_color-2);
        }
    }

}

.salesListContainer{
    width: 100%;
    .salesList{
        display: flex;
        flex-direction: column;
        li{
         .salesListHeading, .salesListItem{ 
            color: transparentize($text-white, .4);
            background: $bg-dark-color;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 1fr;
    padding: 1rem;

        }
        .salesListHeading{
            span{
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
        .salesListItem{
    position: relative;
            color: $text-dark-blue;
            background: $gray_color-6;
            padding: 1.2rem 1rem ;
            border-bottom: 3px solid $bg-dark-color;
            span{
                display: flex;
                align-items: center;
                gap: .2rem;
            }
        }
        // &:hover{
        //     background: lighten($bg-dark-color,50%);
        //     }
        }
    }
    .parcelsListHeading, .saleParcelItem{ 
        color: transparentize($text-white, .4);
        background: $bg-dark-color;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        padding: 1rem;
    }
}

.statusBall{
    background: red;
    width: .8rem;
    border-radius: 100%;
    height: .8rem;
    &[data-status="Pago"]{
        background: $status_paid;
    }
    &[data-status="Em atraso"]{
        background: $status_pending;
    }
    &[data-status="Aguardando"]{
        background: $status_contract;
    }
    &[data-status="Pagando"]{
        background: $status_paying;
    }
    
}

.showSaleParcels{
    transform: rotate(180deg);
    position: absolute;
    right: 2rem;
    top: 1.3rem;
    &:hover{
        cursor: pointer;
    }
    &[data-visibility='true']{
        transform: rotate(0deg);
    }
}
.saleParcelsContainer {
    &[data-visibility='false']{
        visibility: hidden;
        height: 0px;
        opacity: 0;
    transition: all .3s ease-in-out;
    }    
    &[data-visibility='true']{
        height: max-content;
        opacity: 1;
        visibility: visible;
    transition: all .3s ease-in-out;
    }
    // padding: 0 !important;
    // height: 0;
    // overflow: hidden;
    transition: all .3s ease-in-out;
    &.active{
        padding: 1rem !important;
        height: max-content;
        overflow: visible;
    }
    .parcelsListHeading{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
    }
}
.saleParcelItem > span{
    display: flex;
    align-items: center;
}

.parcelLink{
    @include actionButton($text-black, $bg_white-color);    
    max-width: max-content;
}
.parcelPdf{
    @include actionButton($text-black, $green_color-3);    
    max-width: max-content;
}
.saleLotName{
    font-weight: bold;
}

.salesTableTitle{
    font-size: 1.8rem;
    font-weight: 700;
    color: $text-black;
    margin-bottom: 1rem;
}

.salesTableHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .newSaleBtn{
    @include actionButton($text-black, $green_color-2);
}

}
    