.mainContainer {
    display: flex;
    gap: 20px;
    width: 100%;
}

.contentContainer {
    flex-grow: 1;
    padding-left: 16vw;
}

.content {
    padding-right: 3rem;
}

@media(max-width: 1080px) {
    .content {
        padding-right: 0;
        padding: .5rem;
    }

    .contentContainer {
        padding-left: 0;
    }
}