$bg_white-color: #FFFFFF;
$bg_dark-color: #272D34;
$green_color-1: #63C600;
$green_color-2: #7FFE00;
$green_color-3: #8BC600;
$green_color-4: #3DEB00;
$green_color-5: #53DA3D;
$green_color-6: #72E400;
$green_color-7: #6A9C31;
$green_color-8: #3C9B1B;
$gray_color-1: #B1B1B1;
$gray_color-2: #D7D7D7;
$gray_color-3: #e7e7e773;
$gray_color-4: #EBEBEB;
$gray_color-5: #F6F6F6;
$gray_color-6: #F9F9F9;
$gray_color-7: #616161;
$text-dark-blue: #060E28;
$text-black: #141414;
$text-white: #f2f2f2;
$alert_font-color: #d73535;
$success_font-color: #2ecc71;
$status_paid: $green_color-2;
$status_paying: #f1f500;
$status_contract: lighten($text-black, 10%);
$status_pending: $alert_font-color;
